<%- include('partials/header') %>
<h1>Home</h1>
<p><%= firstParagraph %></p>
<% content.forEach((element) => { %>
    <% const Title = element.title %>
    <h1><%= Title.charAt(0).toUpperCase() + Title.slice(1) %></h1>
    <p><%= element.content.substring(0, 100) + " ... "; %><a href="/post/<%= element.title %>">Read more</a></p>
<%});%>
<%- include('partials/footer') %>